body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #aed3f2;   
}

/*Header container styling*/

header {
    background-color: #d99036;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    color: #728c11;
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
}

/*navigation bar*/
header a {
    color: #728c11;
    list-style-type: none;
    font-family: 'Homemade Apple', cursive;
    font-size: 15px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    list-style-type: none;
    padding: 0 20px 0 20px;
}

/*Home/About Me page*/
section.new {
    background-color: #6f8ea9;
}

#picture {
    max-height: 500px;
    max-width: 70%;
    float: left;
    margin-left: 10px;
}

#blurb {
    font-size: 20px;
    float: left;
    font-family: 'Harmattan', sans-serif;
}

p {
    text-align: justify;
}

#quote {
    float: right;
}

/*Portfolio*/

section img {
    padding: 10px;
}

/*footer*/
footer {
    padding: 20px;
    color: #728c11;
    background-color: #d99036;
    text-align: center;
}