* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Header container styling*/
.jumbotron-fluid {
    background-image: url("https://www.dccomics.com/sites/default/files/WW84Background_marquee_5e9e0b9bbffe26.31482710.jpg");
    min-height: 70px;

}

header {
    color: #ffffff;
    font-family: 'Homemade Apple', cursive;
    font-size: larger;
}

/*navigation bar*/
header a {
    color: #ffffff;
    list-style-type: none;
    font-family: 'Homemade Apple', cursive;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    list-style-type: none;
    padding: 0 20px 0 20px;

}

header #name h1 {
    float: left;
    margin: 0;
}

header a:hover {
    color: green;
}

/*About Me Page*/
/*Image styling*/
#picture {
    max-height: 400px;
    max-width: 70%;
    margin-right: 25px;
}

/*About me paragraph styling*/
p,
h2 {
    font-size: 25px;
    float: left;
    font-family: 'Harmattan', sans-serif;
}

p {
    text-align: justify;
}