body {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 100px;
    background: #aed3f2;   
}

/*Header container styling*/

header {
    background-color: #d99036;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    color: #728c11;
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
}

/*navigation bar*/
header a {
    color: #728c11;
    list-style-type: none;
    font-family: 'Homemade Apple', cursive;
    font-size: 15px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    list-style-type: none;
    padding: 0 20px 0 20px;
}

/*Home/About Me page*/
section #new {
    padding: 10px;
    background-color: #6f8ea9;
}

#Florence { 
    max-height: 500px;
    max-width: 70%;
    float: left;
    margin-left: 10px;
    border-radius: 8px;
}

#blurb {
    font-size: 20px;
    text-align: justify;
    float: left;
    font-family: 'Harmattan', sans-serif;
}


#quote {
    margin-right: 5px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    background: #165f8c;
    color: #ffffff;
}

/*Portfolio*/

.card-deck {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.card-body {
    background: #77b9f2;
}

/*footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    color: #728c11;
    background-color: #d99036;
    text-align: center;
}