* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Image styling*/
#picture {
    max-height: 250px;
    max-width: 60%%;
    margin-right: 25px;
}

/*About me paragraph styling*/
p,
h2 {
    font-size: 25px;
    float: left;
    font-family: 'Harmattan', sans-serif;
}

p {
    text-align: justify;
}